@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1E1E1E;
    color: #ffffff;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    padding: 0 20px;
    background-color: #1a1a1a;
    z-index: 1;
}

header a {
    text-decoration: none;
}

header h1 a {
    color: #137feb;
    font-size: 1.8em;
}

.header-content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-fixed {
    position: fixed;
}

nav ul {
    display: flex;
}

nav ul a {
    color: white;
    display: block;
    margin: 0 10px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
}

nav ul a:hover {
    color: #137feb;
    transition: 0.3s;
    border-bottom: 2px solid #137feb;
}

#button-menu {
    display: none;
}

.main-margin-fixed {
    padding-top: 120px;
}

.bem-vindo {
    max-width: 1000px;
    margin: 0 auto;
    height: 65vh;
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bem-vindo div {
    width: 45%;
}

.imagem-bem-vindo img {
    max-width: 380px;
    width: 100%;
}

.bem-vindo h2 {
    color: #137feb;
    font-size: 2.2rem;
}

.bem-vindo-bold {
    font-size: 15px;
    font-weight: bold;
}

.estudo {
    font-size: 14px;
    color: #dedcdc;
}

.saiba-mais {
    padding: 20px 0;
    color: #eeeeee;
    background-color: #1369eb;
    margin-bottom: -86px;
}

.saiba-mais h2, .projetos h2, .objetivo h2 {
    font-size: 2.5em;
}

.saiba-mais p, .projetos p, .objetivo p {
    font-size: 16px;
    padding: 5px 0;
}

.saiba-mais div {
    padding: 0 20px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.objetivo {
    padding-top: 106px;
    padding-bottom: 20px;
    color: #eeeeee;
    background-color: #1369eb;
    margin-bottom: -86px;
}

.objetivo div {
    padding: 0 20px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.content-projetos {
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.projetos {
    padding-top: 86px;
    color: #eeeeee;
}

.proj-demo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.proj-demo h2 {
    font-size: 2em;
}


.proj-demo div {
    max-width: 500px;
    width: 100%;
    max-height: 670px;
}

.proj-descricao {
    padding-right: 30px;
}

.proj-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj-img img {
    max-width: 500px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}

.projetos a {
    text-align: center;
    display: block;
    margin-top: 20px;
}

.proj-demo a {
    margin-top: 10px;
    text-decoration: none;
    padding: 8px;
    color: white;
    font-size: 16px;
    background-color: #137feb;
    border: 2px solid transparent;
    border-radius: 20px;
    width: 180px;
    transition: 0.5s;
}

.proj-demo a:hover {
    background: none;
    border: 2px solid #137feb;
    transition: 0.5s;
}

.nome-projeto {
    color: #137feb;
}

.conhecimento {
    margin-top: 50px;
    color: black;
    padding: 20px 0;
    padding-bottom: 20px;
    background-color: white;
}

.content-conhecimento {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.conhecimento h2 {
    font-size: 2.5em;
}

.conhecimento p {
    font-size: 16px;
    padding: 5px 0;
}

.conhecimentos-ul {
    padding: 20px 0;
    max-width: 570px;
    margin: 20px auto;
}

.conhecimentos-ul ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.conhecimentos-ul ul li img {
    padding-right: 10px;
}

.barra-content {
    max-width: 500px;
    width: 100%;
}

.barra {
    width: 100%;
    height: 15px;
    border-radius: 10px;
    border: 1px solid black;
}

.barra2 {
    height: 100%;
    border-radius: 10px;
    background: rgb(19,127,235);
    background: linear-gradient(90deg, rgba(19,127,235,1) 0%, rgba(19,51,235,1) 100%);
}

.fifty-per {
    width: 50%;
}

.thirty-per {
    width: 30%;
}

footer {
    padding: 50px 20px 50px 20px;
    background-color: #1a1a1a;
}

footer div p {
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}

.contato {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center; 
}

.link-contatos {
    max-width: 200px;
    width: 100%;
    margin: 20px auto;
}

.link-contatos ul {
    display: flex;
    justify-content: space-between;
}

.link-contatos i {
    color: #137feb;
    font-size: 1.7em;
}

.link-contatos a:hover > i {
    color: #1333eb;
    transition: 0.5s;
}

@media (max-width: 680px) {
    #button-menu {
        display: flex;
        flex-direction: column;
        transition: 0.4s ease-out;
        cursor: pointer;
    }

    #button-menu div {
        background-color: white;
        margin: 3.5px 0;
        height: 3px;
        width: 30px;
        transition: 0.4s ease-in-out;
    }

    .active-button div:nth-child(1) {
        transform: rotate(-45deg);
        position: absolute;
    }
    
    .active-button div:nth-child(2) {
        transition: 0.2s ease-in;
        opacity: 0;
    }
    
    .active-button div:nth-child(3) {
        transform: rotate(45deg);
        position: absolute;
    }

    nav {
        top: 86px;
        position: absolute;
        display: block;
        z-index: 1000;
        background-color: #1a1a1a;
        width: 100%;
        height: 0;
        left: 0;
        visibility: hidden;
        transition: .6s;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }

    nav ul {
        display: block;
    }

    nav a {
        text-align: center;
        padding: 10px 5px;
    }

    .active {
        height: 225px;
        visibility: visible;
        top: 86px;
        transition: .6s;
    }

    .proj-demo {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .proj-descricao {
        padding-right: 0;
    }

    .proj-img {
        margin-top: 20px;
    }
}

@media (max-width: 475px) {
    .imagem-bem-vindo img {
        display: none;
    }

    .bem-vindo {
        height: 50vh;
        flex-direction: column;
        justify-content: center;
    }

    .bem-vindo div {
        width: 80%;
    }

    .saiba-mais h2, .projetos h2, .objetivo h2, .conhecimento h2 {
        font-size: 1.8em;
    }

    .saiba-mais p, .projetos p, .objetivo p, footer p {
        font-size: 14px;
        padding: 5px 0;
    }
}

@media (max-height: 665px) {
    .bem-vindo {
        justify-content: center;
    }

    .imagem-bem-vindo {
        display: none;
    }

    .active {
        height: 100vh;
    }
}
